h1 Sijainnit
div#placesAjax
h2 Uusi sijainti
form(method="POST", action="/places")
	div
		label Nimi
			input(type="text", name="name")
	div
		input(type="submit", value="Lisää")
a#countplaces(href="") Count places

